<div class="container mt-5">
  <form class="row g-3" [formGroup]="empForm" (ngSubmit)="empForm.value.id ?  putEditedData() : addData()">
    <div class="col-md-6">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="Enter First Name" formControlName="fname" name="fname">
      <div *ngIf="empForm.controls['fname'].invalid && (empForm.controls['fname'].dirty || empForm.controls['fname'].touched)" class="text-danger">
        <div *ngIf="empForm.controls['fname'].errors?.['required']">First Name is required.</div>
      </div>
    </div>
    <div class="col-md-6">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lname" name="lname">
      <div *ngIf="empForm.controls['lname'].invalid && (empForm.controls['lname'].dirty || empForm.controls['lname'].touched)" class="text-danger">
        <div *ngIf="empForm.controls['lname'].errors?.['required']">Last Name is required.</div>
      </div>
    </div>
    <div class="col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Enter Email ID" formControlName="email" name="email">
      <div *ngIf="empForm.controls['email'].invalid && (empForm.controls['email'].dirty || empForm.controls['email'].touched)" class="text-danger">
        <div *ngIf="empForm.controls['email'].errors?.['required']">Email ID is required.</div>
      </div>
    </div>
    <div class="col-md-6">
      <label>Phone No</label>
      <input type="number" class="form-control" placeholder="Enter Phone Number" formControlName="phone" name="phone">
      <div *ngIf="empForm.controls['phone'].invalid && (empForm.controls['phone'].dirty || empForm.controls['phone'].touched)" class="text-danger">
        <div *ngIf="empForm.controls['phone'].errors?.['required']">Phone No is required.</div>
      </div>
    </div>
    <div class="col-md-6">
      <label>Address</label>
      <input type="text" class="form-control" placeholder="Enter Address" formControlName="address" name="address">
      <div *ngIf="empForm.controls['address'].invalid && (empForm.controls['address'].dirty || empForm.controls['address'].touched)" class="text-danger">
        <div *ngIf="empForm.controls['address'].errors?.['required']">Address is required.</div>
      </div>
      
    </div>
    <div class="col-12 text-center mt-4">
      <button type="submit" class="btn btn-primary mx-3" [disabled]="empForm.invalid">{{ empForm.value.id ? 'Update' : 'Submit' }}</button>
    </div>
  </form>
</div>


<!-- Table form Data -->


<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
           <th>Phone</th>
           <th>Address</th>
           <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of shownData">
          <td>{{d.id}}</td>
          <td>{{d.fname}}</td>
          <td>{{d.lname}}</td>
          <td>{{d.email}}</td>
          <td>{{d.phone}}</td>
          <td>{{d.address}}</td>
          <td><button class="btn btn-danger mx-4" (click)="getEditdata(d.id)">Edit</button>
            <button class="btn btn-primary"(click)="deleteData(d.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>





<router-outlet></router-outlet>
